<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1.0,
maximum-scale=1.0, user-scalable=no, width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>umi-amap</title>
</head>
<body>
<div id="root">
  <img src="https://image.theatomdata.com/loading.gif"
       style="margin: auto; display: block; position: relative; top: 40%; width: 30% ;padding-bottom: 17.5%" alt="页面加载中...">
</div>
<script src="https://webapi.amap.com/maps?v=1.4.15&key=你的key"></script>
</body>
</html>
